<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja Oficial do Internacional</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
  <header>
    <h1>Detalhes do Produto</h1>
  </header>
  <main>
    <section class="detalhes-produto">
      <img src="../assets/img/camisa1.webp" alt="Camisa Internacional III 24/25">
      <div class="descricao">
        <h2>Camisa Internacional III 24/25</h2>
        <p>Preço: R$ 260,99</p>
        <p>Descrição: Amplie as opções com o novo manto do Colorado! A Camisa Internacional III 24/25 s/n° 
            Torcedor Adidas Masculina é baseada no terceiro uniforme do Clube do Povo, com estampa gráfica, 
            gola V e escudo bordado. Esta camisa masculina do Inter também recebe detalhes em tonalidade vermelha nas 
            mangas e nos ombros, ainda mais personalidade para apoiar seu time do coração em grande estilo. 
            O tecido leve e respirável te mantém confortável para acompanhar os embates. 
            Opção versátil para usar com calção do Inter, bermuda sarja ou seu jeans favorito. Garanta a sua e aproveite!
        </p>
        <a href="../sucesso.html" class="comprar">Comprar Agora</a>
        <a href="../index.html" class="voltar">Voltar</a>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2024 Loja Oficial do Internacional. Todos os direitos reservados.</p>
  </footer>
</body>
</html>