<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja Oficial do Internacional</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
  <header>
    <h1>Detalhes do Produto</h1>
  </header>
  <main>
    <section class="detalhes-produto">
      <img src="../assets/img/camisa5.webp" alt="Camisa Internacional Benson Lotus - P">
      <div class="descricao">
        <h2>Camisa Internacional Benson Lotus - P</h2>
        <p>Preço: R$ 165,71</p>
        <p>Descrição: Mostre o amor pelo Inter com essa Camisa Internacional Heaven Lotus Masculina! Confeccionada em poliéster, 
          a camisa do Colorado é leve e macia ao toque, garantindo o conforto ideal para todos os momentos. Com recorte esportivo, 
          a camisa masculina conta com gola careca e manga curta, que proporcionam o caimento perfeito, do Gigante da Beira-Rio ao dia 
          a dia. Por fim, o estampado bordado mostra a paixão pelo Colorado, independente de onde esteja. Não perca a chance de usar 
          o manto do Clube do Povo. Adquira já a sua!
        </p>
        <a href="../sucesso.html" class="comprar">Comprar Agora</a>
        <a href="../index.html" class="voltar">Voltar</a>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2024 Loja Oficial do Internacional. Todos os direitos reservados.</p>
  </footer>
</body>
</html>