<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja Oficial do Internacional</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
  <header>
    <h1>Detalhes do Produto</h1>
  </header>
  <main>
    <section class="detalhes-produto">
      <img src="../assets/img/camisa4.webp" alt="Camisa Internacional Benson Lotus - V">
      <div class="descricao">
        <h2>Camisa Internacional Benson Lotus - V</h2>
        <p>Preço: R$ 194,85</p>
        <p>Descrição: Leve o Colorado com você com essa Camisa Internacional Benson Lotus Masculina! Confeccionada em poliéster, 
          a camisa do Inter é leve e macia ao toque, garantindo o conforto ideal para todos os momentos. Com recorte moderno, 
          a camisa masculina conta com gola V e manga curta, proporcionando o caimento perfeito, do Gigante da Beira-Rio ao dia a dia. 
          O escudo bordado mostra a paixão pelo time, enquanto os detalhes nas cores do Colorado em sua extensão só reafirmam esse amor.
          Seja para torcer ou para os momentos casuais, essa é a peça ideal para o torcedor mais fanático. Não perca a chance, compre 
          já a sua!
        </p>
        <a href="../sucesso.html" class="comprar">Comprar Agora</a>
        <a href="../index.html" class="voltar">Voltar</a>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2024 Loja Oficial do Internacional. Todos os direitos reservados.</p>
  </footer>
</body>
</html>